body {
    font-size: 16px;
}

.logo {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tulpen One', cursive;
}

.navbar {
    margin: 0 30%;
}

.mainphoto {
    margin: 0 20%;
    position: relative;
}

.artistname {
    color: rgb(2, 128, 2);
    font-family: 'Tulpen One', cursive;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainphoto .artistphoto img{
    width: 100%;
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }

    .navbar {
        margin: 0 20%;
    }
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.links {
    text-decoration: none;
}

.links:visited {
    text-decoration: none;
    color: black;
}

.links:hover {
    color: orange;
    text-decoration: underline;
}